<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Formularz klienta</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<div class="container shadow-sm p-4 mb-4 bg-white">
    <h1>Formularz klienta</h1>
    <form th:object="${clientForm}" action="/client/add" method="post">
        <div class="form-group row">
            <label for="inputName">Imię:</label>
            <input type="text" class="form-control" id="inputName" th:field="*{firstName}">
        </div>
        <div class="form-group row">
            <label for="inputSurname">Nazwisko:</label>
            <input type="text" class="form-control" id="inputSurname" th:field="*{lastName}"/>
        </div>
        <div class="form-group row">
            <label for="inputEmail">Email:</label>
            <input type="email" class="form-control" id="inputEmail" th:field="*{email}"/>
        </div>
        <div class="form-group row">
            <label for="inputAddress">Adres:</label>
            <input type="text" class="form-control" id="inputAddress" th:field="*{address}"/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
</div>

<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>