<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Lista klientów</title>
</head>
<body>
<h1>Lista klientów</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Adres</th>
        <th>Email</th>
        <th>Działanie</th>
    </tr>
    <tr th:each="client : ${clientList}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.address}"></td>
        <td th:text="${client.email}"></td>
        <td><a th:href="@{/client/edit/{id}(id=${client.id})}">Edycja</a>
        <form th:action="@{/client/delete/{id}(id=${client.id})}" method="post">
            <input type="submit" th:value="Usuń">
        </form>
        </td>
    </tr>
</table>
</body>

</html>