<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Lista oddziałów</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>

<h1>Lista oddziałów</h1>
<table id="bra_table" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Miasto</th>
            <th>Adres</th>
            <th>Pracownicy</th>
            <th>Samochody</th>
            <th>Działanie</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="branch : ${branchList}">
            <td th:text="${branch.id}"></td>
            <td th:text="${branch.city}"></td>
            <td th:text="${branch.address}"></td>
            <td th:text="${branch.employees.size}"></td>
            <td th:text="${branch.cars.size}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-outline-primary" th:href="@{/branch/{id}(id=${branch.id})}">Szczegóły</a>
                    <a role="button" class="btn btn-outline-primary" th:href="@{/branch/edit/{id}(id=${branch.id})}">Edytuj</a>
                    <button type="submit" class="btn btn-outline-primary" th:form="'form' + ${branch.id}">Usuń</button>
                </div>
                <form th:action="@{/branch/delete/{id}(id=${branch.id})}" method="post" th:id="'form' + ${branch.id}">
                    <input type="hidden">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>