<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Formularz samochodu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>

<h1>Formularz samochodu</h1>
<form th:object="${carForm}" action="/car/add" method="post">
    <fieldset>
    <label>Marka:
        <select name="brand">
            <option th:each="brandOpt : ${T(pl.kab.carstogo.model.enums.Brand).values()}"
                    th:value="${brandOpt}" th:text="${brandOpt}"></option>
        </select>
    </label>
    <br>
    <label>Model:
        <input type="text" th:field="*{model}"/>
    </label>
    <br>
    <label>Typ nadwozia:
        <select name="body">
            <option th:each="bodyTypeOpt : ${T(pl.kab.carstogo.model.enums.BodyType).values()}"
                    th:value="${bodyTypeOpt}" th:text="${bodyTypeOpt}"></option>
        </select>
    </label>
    <br>
    <label>Rocznik:
        <input type="number" th:field="*{productionYear}"/>
    </label>
    <br>
    <label>Kolor:
        <input type="text" th:field="*{color}"/>
    </label>
    <br>
    <label>Przebieg:
        <input type="number" th:field="*{mileage}"/>
    </label>
    <br>
    <label>Status:
        <select name="status">
            <option th:each="statusOpt : ${T(pl.kab.carstogo.model.enums.Status).values()}"
                    th:value="${statusOpt}" th:text="${statusOpt.getDisplayName()}"></option>
        </select>
    </label>
    <br>
    <label>Kwota(za dzień wypożyczenia):
        <input type="number" th:field="*{rent}"/>
    </label>
    <br>
    <input type="submit"/>
    </fieldset>
</form>

<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>