<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Formularz samochodu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>

<div class="container shadow-sm p-4 mb-4 bg-white">
<h1>Formularz samochodu</h1>
    <form th:object="${carForm}" action="/car/add" method="post">
        <div class="form-group row">
            <label for="inputBrand">Marka:</label>
            <select id="inputBrand" name="brand">
                <option th:each="brandOpt : ${T(pl.kab.carstogo.model.enums.Brand).values()}"
                        th:value="${brandOpt}" th:text="${brandOpt}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="inputModel">Model:</label>
            <input id="inputModel" type="text" th:field="*{model}"/>
        </div>
        <div class="form-group row">
            <label for="inputBodyType">Typ nadwozia:</label>
            <select id="inputBodyType" name="body">
                <option th:each="bodyTypeOpt : ${T(pl.kab.carstogo.model.enums.BodyType).values()}"
                        th:value="${bodyTypeOpt}" th:text="${bodyTypeOpt}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="inputProductionYear">Rocznik:</label>
            <input id="inputProductionYear" type="number" th:field="*{productionYear}"/>
        </div>
        <div class="form-group row">
            <label for="inputColor">Kolor:</label>
            <input id="inputColor" type="text" th:field="*{color}"/>
        </div>
        <div class="form-group row">
            <label for="inputMileage">Przebieg:</label>
            <input id="inputMileage" type="number" th:field="*{mileage}"/>
        </div>
        <div class="form-group row">
        <label for="inputStatus">Status:</label>
            <select id="inputStatus" name="status">
                <option th:each="statusOpt : ${T(pl.kab.carstogo.model.enums.Status).values()}"
                        th:value="${statusOpt}" th:text="${statusOpt.getDisplayName()}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="inputRent">Kwota(za dzień wypożyczenia):</label>
            <input id="inputRent" type="number" th:field="*{rent}"/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Wyślij</button>
</form>
</div>

<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>