<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Lista samochodów</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>

<h1>Lista samochodów</h1>
<table id="car_table" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Typ nadwozia</th>
            <th>Rocznik</th>
            <th>Kolor</th>
            <th>Przebieg</th>
            <th>Status</th>
            <th>Kwota(za dzień wypożyczenia)</th>
            <th>Działanie</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="car : ${carList}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.body}"></td>
            <td th:text="${car.productionYear}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.mileage}"></td>
            <td th:text="${car.status.getDisplayName()}"></td>
            <td th:text="${car.rent}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-outline-primary" th:href="@{/car/edit/{id}(id=${car.id})}">Edytuj</a>
                    <button type="submit" class="btn btn-outline-primary" th:form="'form' + ${car.id}">Usuń</button>
                </div>
                <form th:action="@{/car/delete/{id}(id=${car.id})}" method="post" th:id="'form' + ${car.id}">
                    <input type="hidden">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>